DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=mixietape
---
OPENAI_API_KEY=""
---
SEC_API_KEY=""
---
RABBITMQ_URL=amqp://guest:guest@localhost:5672
